<div class="container">
  <form (ngSubmit)="getAction()" [formGroup]="productForm">
      <div>
          <p>Title*</p>
          <input type="text" placeholder="Enter Title" formControlName = "title">
         
      </div>
      <div>
          <p>Description*</p>
          <input type="text" placeholder="Enter Description" formControlName = "description">
      </div>
      <div>
          <p>Category*</p>
          <input type="text" placeholder="Enter Category" formControlName = "category">
      </div>
      <div>
          <p>Rating*</p>
          <input type="text" placeholder="Enter Rating" formControlName = "rating">
      </div>
      <div>
          <p>Stoke</p>
          <input type="text" placeholder="Enter Stoke" formControlName = "stock">
      </div>
      <div class="btn">
          <span>*Fill All the required Fields*</span>
          <button type="submit">LOGIN</button>
      </div>
  </form>
</div>